*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color:whitesmoke;
  font-family: sans-serif;
  outline:none;
}
body{
  background: linear-gradient(to right top, #556173, #6f808e, #8da0a9, #aec0c5, #d2e1e2);
}
.container{
  height:100vh;
  display:inline-block;
  width: 280px;
  justify-content:center;
  align-items:center;

}
.calculator{
  background-color:rgb(55, 5, 5);
  padding:30px;
  border-radius:15px;
  box-shadow: inset -4px -5px 6px black,
                inset 2px 2px 6px black;
  display:grid;
  grid-template-columns: repeat(4,45px);
  grid-template-rows: repeat(5,45px);
}
input{
  grid-column:span 4;
  height:40px;
  width:210px;
  background-color:rgb(189, 189, 189);
  box-shadow: inset -6px -5px 6px black,
                inset 2px -5px 6px black;
  border:none;
  border-radius:10px;
  font-size:30px;
  text-align: end;
  margin-top: -10px;
  margin-bottom:30px;
}
button{
  height:45px;
  width:45px;
  background-color:rgb(245, 10, 182);
  box-shadow: inset -4px -5px 6px black,
                inset 2px 2px 6px black;
  border-radius:20%;
  border:5px;
  margin:8px;
  cursor:pointer;
}
#equal{
  width:100px;
  color: rgb(13, 13, 13);
  background-color: green;
  border-radius: 30px;
  box-shadow: inset -4px -5px 6px black,
  inset 2px 2px 6px black;
}